
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMedico.cshtml";
}

<h2>Aqui va el listado de Preguntas para Medico</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />